<section class="page-header">
  <h1 class="project-name"> {{ site.title }} </h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
   <a href="/" class="btn">Blog</a>
   <a href="/media/" class="btn">Media</a>
   <a href="/music/" class="btn">Music</a>
   <a href="/about/" class="btn">About</a>
  <!--     <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="btn" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
</section>
